VITE_CONTACT_EMAIL=Gox@Goxbit.dev
VITE_ARTSTATION_URL=https://www.artstation.com/gox
VITE_GITHUB_URL=https://github.com/GoxBit
VITE_X_URL=https://x.com/GoxBit
VITE_LINKEDIN_URL=https://www.linkedin.com/in/luis-durang/
VITE_SITE_URL=https://goxbit.dev
