<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">@Name</MudText>
            <MudText Typo="Typo.body2">@Tool</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <div class="sketchfab-embed-wrapper"> <iframe title="@Name" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="@Url"></iframe> </div>
    </MudCardContent>
</MudCard>
@code{

}