@using Goxbit.Components
@page "/projects"
<PageTitle>Projects</PageTitle>

<div class="container pt-3">

    <div class="d-flex justify-content-center pt-1">
        <h1 class="display-1" id="GoxBit">Games</h1>
    </div>

    <div class="d-flex justify-content-evenly">
        <button type="button" class="btn btn-dark">
            <img src="https://cdna.artstation.com/p/softwares/icons/000/000/044/default/Unreal-symbol.png?1622777656" />
        </button>
        <button type="button" class="btn btn-dark">
            <img src="https://cdnb.artstation.com/p/softwares/icons/000/000/047/default/unity-logo-white.png?1479506284" />
        </button>
    </div>

    <div class="container d-flex">
    
        <GameCard>

        </GameCard>
    </div>


</div>