@page "/"

<PageTitle>GoxBit</PageTitle>

<div class="container">

    <div class="d-flex justify-content-center pt-5">
        <h1 class="display-1" id="GoxBit">GOXBIT</h1>
    </div>
    <h1 class="d-flex justify-content-center fs-2 display-2">Game Developer</h1>
    <p class="d-flex justify-content-center fs-2">🚀👾👾</p>

    <div class="d-flex justify-content-center container pl-0">
        <div class="d-flex align-content-center flex-wrap ">
            <div class="text-center">
                <img id="Profile" class="img-fluid mx-auto d-block px-5" src="images/profile.png" priority alt="La mera ñonga">
            </div>
            <div class="flex-grow-1 ms-2 w-50 p-3 my-2">
                <p class="fs-3 pb-4">Hello!</p>
                <p id="Present" class="fs-3 pt-4 text-justify">
                    I'm <span id="Name">Luis Duran</span>, a passionate game developer with a solid command of Unreal Engine and Unity. My experience covers all phases of the development cycle, from idea conception to final optimization for various platforms.
                </p>
            </div>
        </div>
    </div>

    <section>
        <div>

            <div class="d-flex justify-content-center my-4">
                <h1 class="fs-2 title">Software</h1>
            </div>
            <div class="d-flex justify-content-around flex-wrap">
                <button type="button" class="btn btn-dark my-2 mx-1">
                    <img src="https://cdna.artstation.com/p/softwares/icons/000/000/044/default/Unreal-symbol.png?1622777656" />
                </button>
                <button type="button" class="btn btn-dark my-2 mx-1">
                    <img src="https://cdnb.artstation.com/p/softwares/icons/000/000/047/default/unity-logo-white.png?1479506284" />
                </button>
                <button type="button" class="btn btn-dark my-2 mx-1">
                    <img src="https://cdna.artstation.com/p/softwares/icons/000/000/002/default/3dsmax-20172.png?1504815710" />
                </button>
                <button type="button" class="btn btn-dark my-2 mx-1">
                    <img src="https://cdna.artstation.com/p/softwares/icons/000/000/024/default/maya.png?1504879343" />
                </button>
                <button type="button" class="btn btn-dark my-2 mx-1">
                    <img src="https://cdna.artstation.com/p/softwares/icons/000/000/046/default/zBrush3.png?1505488078" />
                </button>
            </div>
        </div>
    </section>



    <section class="highlight my-4">
        <div class="d-flex justify-content-center mt-4">
            <h1 class="fs-2 title">My Work</h1>
        </div>
        <div class="d-flex justify-content-center flex-wrap mt-4">

            <div class="py-3 px-3">
                <div class="sketchfab-embed-wrapper">
                    <iframe title="NES Joystick" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/e2ed5dc7eab44f049e5e5bfa9e622d8f/embed?autostart=1"> </iframe>
                </div>
            </div>
            <div class="py-3 px-3">
                <div class="sketchfab-embed-wrapper">
                    <iframe title="PatoCakes" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/a6663915cfd94cabaf49db66c1a27685/embed?autostart=1&camera=0"> </iframe>
                </div>
            </div>
            <div class="py-3 px-3">
                <div class="sketchfab-embed-wrapper">
                    <iframe title="NES Joystick" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/e2ed5dc7eab44f049e5e5bfa9e622d8f/embed?autostart=1"> </iframe>
                </div>
            </div>
            <div class="py-3 px-3">
                <div class="sketchfab-embed-wrapper">
                    <iframe title="PatoCakes" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/a6663915cfd94cabaf49db66c1a27685/embed?autostart=1&camera=0"> </iframe>
                </div>
            </div>
            <div class="py-3 px-3">
                <div class="sketchfab-embed-wrapper">
                    <iframe title="NES Joystick" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/e2ed5dc7eab44f049e5e5bfa9e622d8f/embed?autostart=1"> </iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="achievments container my-4">
    </section>
    <section class="Background">
        <div class="container text-center text-wrap text-break">
            <div class="d-flex justify-content-center mt-4">
                <h1 class="fs-2 title">About</h1>
            </div>
            <div class="row py-4">
                <div class="col-2 fs-4">
                    <p>Background</p>
                </div>
                <div class="col-10 fs-4">
                    <p class="pt-2">
                        My passion for gaming is matched by my skills in Unreal Engine, where I thrive on bringing imaginative worlds to life. I am also proficient in 3D modeling, utilizing tools like 3ds Max and Maya to craft detailed, realistic models that enhance the visual experience of games.
                    </p>
                </div>
            </div>
            <div class="row py-4">
                <div class="col-2 fs-4">
                    <p>School</p>
                </div>
                <div class="col-10 fs-4">
                    <p>
                        I’m a creative and dedicated video developer from Guadalajara, MX. I hold a Bachelor’s degree in Computer Science with a specialization in Animation and Video Games from the University of Guadalajara, and a Master’s degree in Comprehensive Design and Development of Video Games from UNIAT.
                    </p>
                </div>
            </div>
            <div class="row py-4">
                <div class="col-2 fs-4">
                    <p>Hobbies</p>
                </div>
                <div class="col-10 fs-4">
                    <p>
                        I’m a When I'm not deeply involved in game development, I dedicate my time to exploring new software tools and technologies that can enhance my work in video game design. This constant learning helps me stay at the cutting edge of the industry.
                    </p>
                    <p>
                        Gaming is not just my profession but also my passion. I love immersing myself in different video games, not only to unwind but also to gather insights and inspiration for my own creations.
                    </p>
                    <p>
                        Apart from the digital world, I have a keen interest in art and history, which leads me to frequently visit art museums. These excursions provide a refreshing perspective that influences my creative process, enriching the narrative and visual elements of the games I develop.
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>




