#customNav {
    background-color:rgb(0, 0, 0, 0.00);
    
}

a:hover {
    color: rgb(115, 93, 250);
    opacity: 1;
}

a {
    opacity: 1;
    color: white;
    font-weight: 900;
}

#GoxBit{
    color:white;
}

.btn{
    background-color:rgb(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: rgb(0, 0, 0, 0.5);
}